<md-card>
  <md-card-content>
    <button color="primary" md-mini-fab routerLink="/rules" routerLinkActive="active">
    <md-icon class="md-24">keyboard_arrow_left</md-icon>
  </button>
    <h2 id="header"> Episode 2 : Docker</h2>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" ngInput [(ngModel)]="displayLine1">
      Create Dockerfile
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine1">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code ng-non-bindable="">
        <span class="tag">touch Dockerfile</span>
      </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine2">
      DocckerFile content
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine2">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <textarea rows="21">
FROM ubuntu:yakkety

RUN apt-get update
RUN apt-get install -y curl
RUN curl -sL https://deb.nodesource.com/setup_7.x | bash -
RUN apt-get update -y


RUN apt-get install -y nodejs git
RUN npm install https://github.com/stalina/trooper.git

ENV PLANET_HOST=localhost
ENV PLANET_PORT=8080
ENV TROOPER_NAME=trooper1
ENV TROOPER_HOST=localhost
ENV TROOPER_PORT=9000
ENV SHIP_IMG=enemy

EXPOSE 9000
ENTRYPOINT ["node",  "node_modules/trooper/trooper.js"]

        </textarea>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine3">
      Build your docker image
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine3">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code ng-non-bindable="">
        <span class="tag">docker build . -t trooper</span>
      </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine4">
      Choose your spaceship
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine4">
    <div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="space-around stretch" >

      <md-list-item *ngFor="let ship of ships">
        <md-card class="spaceship-card">
          <img md-card-image src="assets/games/imgs/ship/big/{{ ship }}.png">
          <md-card-content>
            <p>
              {{ ship }}
            </p>
          </md-card-content>
        </md-card>
      </md-list-item>

    </div>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine5">
      Launch your docker
    </md-slide-toggle>
    <md-card-title></md-card-title>
  </md-card-header>
  <md-card-content *ngIf="displayLine5">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code ng-non-bindable="">
        <span class="tag">docker run -d -p 80:9000 -e PLANET_HOST={{identityService.identity.masterIp}} -e PLANET_PORT={{identityService.identity.masterPort}} -e TROOPER_NAME={{this.identityService.identity.pseudo}} -e TROOPER_HOST={{identityService.identity.yourIp}} -e TROOPER_PORT=80 -e SPACESHIP={{this.identityService.identity.spaceship}} trooper</span>
      </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine6">
      Exit your box
    </md-slide-toggle>
    <md-card-title></md-card-title>
  </md-card-header>
  <md-card-content *ngIf="displayLine6">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code ng-non-bindable="">
        <span class="tag">exit</span>
      </code>
    </pre>
  </md-card-content>
</md-card>
