<md-card>
  <md-card-content>
    <button color="primary" md-mini-fab routerLink="/rules" routerLinkActive="active">
    <md-icon class="md-24">keyboard_arrow_left</md-icon>
  </button>
    <h2 id="header">Episode 6 : Always use kubernetes !</h2>
  </md-card-content>
</md-card>
<md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine1">
      Create nginxfile-controller.json file
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine1">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code ng-non-bindable="">
        <span class="tag">touch nginxfile-controller.json</span>
      </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine2">
      This file contains:
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine2">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code ng-non-bindable="">
        <span class="tag"></span>        
        <span class="tag">{{"{"}}</span>        
        <span class="tag">  "kind":"ReplicationController",</span>
        <span class="tag">  "apiVersion":"v1",</span>
        <span class="tag">  {{"\"metadata\":{"}}</span>
        <span class="tag">      "name":"nginxfile",</span>
        <span class="tag">      {{"\"labels\":{"}}</span>
        <span class="tag">          "app":"nginxfile"</span>
        <span class="tag">      {{"}"}}</span>
        <span class="tag">  {{"},"}}</span>
        <span class="tag">  {{"\"spec\":{"}}</span>
        <span class="tag">      "replicas":1,</span>
        <span class="tag">      {{"\"selector\":{"}}</span>
        <span class="tag">        "app":"nginxfile"</span>
        <span class="tag">      {{"},"}}</span>
        <span class="tag">      {{"\"template\":{"}}</span>
        <span class="tag">          {{"\"metadata\":{"}}</span>
        <span class="tag">              {{"\"labels\":{"}}</span>
        <span class="tag">                    "app":"nginxfile"</span>
        <span class="tag">              {{"}"}}</span>
        <span class="tag">          {{"},"}}</span>
        <span class="tag">      {{"\"spec\":{"}}</span>
        <span class="tag">          "containers":[</span>
        <span class="tag">              {{"{"}}</span>
        <span class="tag">                  "name":"nginxfile",</span>
        <span class="tag">                  "image":"nginx",</span>
        <span class="tag">                  "ports":[</span>
        <span class="tag">                      {{"{"}}</span>
        <span class="tag">                          "name":"http-server",</span>
        <span class="tag">                          "containerPort":80</span>
        <span class="tag">                      {{"}"}}</span>
        <span class="tag">                  ]</span>
        <span class="tag">              {{"}"}}</span>
        <span class="tag">          ]</span>
        <span class="tag">      {{"}"}}</span>
        <span class="tag">    {{"}"}}</span>
        <span class="tag">  {{"}"}}</span>
        <span class="tag">{{"}"}}</span>
      </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine3">
      Create nginxfile-service.json file
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine3">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code ng-non-bindable="">
        <span class="tag">touch nginxfile-service.json</span>
      </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine4">
      This file contains:
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine4">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code ng-non-bindable="">
        <span class="tag"></span>   
        <span class="tag">{{"{"}}</span>
        <span class="tag">    "kind":"Service",</span>
        <span class="tag">    "apiVersion":"v1",</span>
        <span class="tag">    {{"\"metadata\":{"}}</span>
        <span class="tag">        "name":"nginxfile",</span>
        <span class="tag">        {{"\"labels\":{"}}</span>
        <span class="tag">            "app":"nginxfile"</span>
        <span class="tag">        {{"}"}}</span>
        <span class="tag">    {{"},"}}</span>
        <span class="tag">    {{"\"spec\":{"}}</span>
        <span class="tag">        "ports": [</span>
        <span class="tag">        {{"{"}}</span>
        <span class="tag">            "port":80,</span>
        <span class="tag">            "targetPort":"http-server",</span>
        <span class="tag">            "nodePort": 32100</span>
        <span class="tag">        {{"}"}}</span>
        <span class="tag">        ],</span>
        <span class="tag">        {{"\"selector\":{"}}</span>
        <span class="tag">            "app":"nginxfile"</span>
        <span class="tag">        {{"},"}}</span>
        <span class="tag">        "type": "LoadBalancer"</span>
        <span class="tag">    {{"\}"}}</span>
        <span class="tag">{{"\}"}}</span>
      </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine5">
      Run replicas
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine5">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code ng-non-bindable="">
        <span class="tag">./kubectl create -f nginxfile-controller.json</span>  
      </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine6">
      View Replicas
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine6">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code ng-non-bindable="">
        <span class="tag">./kubectl get rc</span>  
      </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine7">
      View pods
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine7">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code ng-non-bindable="">
        <span class="tag">./kubectl get pods</span>  
      </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine8">
      Run service
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine8">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code ng-non-bindable="">
        <span class="tag">./kubectl create -f nginxfile-service.json</span>  
      </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine9">
      View Services
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine9">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code ng-non-bindable="">
        <span class="tag">./kubectl get services</span>  
      </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine10">
      Connect to your nginx service
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine10">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code ng-non-bindable="">
        <span class="tag">curl -XGET http://YOUR_IP:32100/</span>  
      </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine15">
      Create file trooper.service.yml
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine15">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code ng-non-bindable="">
       <span class="tag">{{"{"}}</span>
        <span class="tag">            "kind":"Service",</span>
        <span class="tag">            "apiVersion":"v1",</span>
        <span class="tag">{{"            \"metadata\":{"}}</span>
        <span class="tag">                "name":"trooper-alderaan",</span>
        <span class="tag">{{"                \"labels\":{"}}</span>
        <span class="tag">                    "app":"trooper-alderaan"</span>
        <span class="tag">{{"                }"}}</span>
        <span class="tag">{{"            },"}}</span>
        <span class="tag">{{"            \"spec\":{"}}</span>
        <span class="tag">                "ports": [</span>
        <span class="tag">{{"                {"}}</span>
        <span class="tag">                    "port":9000,</span>
        <span class="tag">                    "targetPort":"http-server",</span>
        <span class="tag">                    "nodePort": 32201</span>
        <span class="tag">{{"                }"}}</span>
        <span class="tag">                ],</span>
        <span class="tag">{{"                \"selector\":{"}}</span>
        <span class="tag">                    "app":"trooper-alderaan"</span>
        <span class="tag">{{"                },"}}</span>
        <span class="tag">                "type": "LoadBalancer"</span>
        <span class="tag">{{"            }"}}</span>
        <span class="tag">{{"        }"}}</span> 
      </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine15">
      And if you run troopers ?
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine15">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code ng-non-bindable="">
        <span class="tag">./kubectl create -f trooper.deployement.yml</span>  
      </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine15">
      Create file trooper.deployement.yml
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine15">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code ng-non-bindable="">
        <span class="tag">{{"{"}}</span>       
        <span class="tag">          "kind":"ReplicationController",</span>
        <span class="tag">          "apiVersion":"v1",</span>
        <span class="tag">{{"          \"metadata\":{"}}</span>
        <span class="tag">              "name":"trooper-alderaan",</span>
        <span class="tag">{{"              \"labels\":{"}}</span>
        <span class="tag">                  "app":"trooper-alderaan"</span>
        <span class="tag">{{"              }"}}</span>
        <span class="tag">{{"          },"}}</span>
        <span class="tag">{{"          \"spec\":{"}}</span>
        <span class="tag">              "replicas":20,</span>
        <span class="tag">{{"              \"selector\":{"}}</span>
        <span class="tag">                "app":"trooper-alderaan"</span>
        <span class="tag">{{"              },"}}</span>
        <span class="tag">{{"              \"template\":{"}}</span>
        <span class="tag">{{"                  \"metadata\":{"}}</span>
        <span class="tag">{{"                      \"labels\":{"}}</span>
        <span class="tag">                            "app":"trooper-alderaan"</span>
        <span class="tag">{{"                      }"}}</span>
        <span class="tag">{{"                  },"}}</span>
        <span class="tag">{{"              \"spec\":{"}}</span>
        <span class="tag">                  "containers":[</span>
        <span class="tag">{{"                      {"}}</span>
        <span class="tag">                          "name":"trooper-alderaan",</span>
        <span class="tag">                          "image":"ymatagne/trooper",</span>
        <span class="tag">                          "ports":[</span>
        <span class="tag">{{"                              {"}}</span>
        <span class="tag">                                  "name":"http-server",</span>
        <span class="tag">                                  "containerPort":9000</span>
        <span class="tag">{{"                              }"}}</span>
        <span class="tag">                          ],</span>
        <span class="tag">			"env":[</span>
        <span class="tag">{{"                              {"}}</span>
        <span class="tag">                                  "name":"TROOPER_HOST",</span>
        <span class="tag">                                  "value":"172.20.20.248"</span>
        <span class="tag">{{"                              },"}}</span>
        <span class="tag">{{"                              {"}}</span>
        <span class="tag">                                  "name":"PLANET_HOST",</span>
        <span class="tag">                                  "value":"172.20.20.57"</span>
        <span class="tag">{{"                              },"}}</span>
        <span class="tag">{{"                              {"}}</span>
        <span class="tag">                                  "name":"TROOPER_PORT",</span>
        <span class="tag">                                  "value":"32201"</span>
        <span class="tag">{{"                              },"}}</span>
        <span class="tag">{{"                              {"}}</span>
        <span class="tag">                                  "name":"PLANET_PORT",</span>
        <span class="tag">                                  "value":"8083"</span>
        <span class="tag">{{"                              },"}}</span>
        <span class="tag">{{"                              {"}}</span>
        <span class="tag">                                  "name":"TROOPER_NAME",</span>
        <span class="tag">                                  "value":"antoine"</span>
        <span class="tag">{{"                              },"}}</span>
        <span class="tag">{{"                              {"}}</span>
        <span class="tag">                                  "name":"SPACESHIP",</span>
        <span class="tag">                                  "value":"Corellian"</span>
        <span class="tag">{{"                              }"}}</span>
        <span class="tag">                          ]</span>
        <span class="tag">{{"                      }"}}</span>
        <span class="tag">                  ]</span>
        <span class="tag">{{"              }"}}</span>
        <span class="tag">{{"            }"}}</span>
        <span class="tag">{{"          }"}}</span>
        <span class="tag">{{"        }"}}</span>
      </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine16">
      Create nodePort
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine16">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code ng-non-bindable="">
        <span class="tag">./kubectl create -f trooper.deployement.yml</span>  
      </code>
    </pre>
  </md-card-content>
</md-card>