<md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>Your information</md-card-title>
  </md-card-header>
  <md-card-content>
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <md-input-container class="example-full-width">
            <input [(ngModel)]="identityService.identity.pseudo" mdInput placeholder="Pseudo" />
          </md-input-container>
        </td>
      </tr>
      <tr>
        <td>
          <md-input-container class="example-full-width">
            <input [(ngModel)]="identityService.identity.etcdServer" mdInput placeholder="ETCD's IP for fleet or Kubernetes" />
          </md-input-container>
        </td>
      </tr>
      <tr>
        <td>
          <md-input-container class="example-full-width">
            <input [(ngModel)]="identityService.identity.gameIp" mdInput placeholder="Game's IP" />
          </md-input-container>
        </td>
      </tr>
      <tr>
        <td>
          <md-input-container class="example-full-width">
            <input [(ngModel)]="identityService.identity.gamePort" mdInput placeholder="Game's port" />
          </md-input-container>
        </td>
      </tr>
      <tr>
        <td>
          <md-input-container class="example-full-width">
            <input [(ngModel)]="identityService.identity.yourIp" mdInput placeholder="Your CoreOs Ip" />
          </md-input-container>
        </td>
      </tr>
      <tr>
        <td>
          <md-input-container class="example-full-width">
            <input [(ngModel)]="identityService.identity.nodePort" mdInput placeholder="Your kubernetes node port 322XX" />
          </md-input-container>
        </td>
      </tr>
      <tr>
        <td>
          <md-select placeholder="Planet" [(ngModel)]="identityService.identity.planet">
            <md-option *ngFor="let planet of planetAvailable" [value]="planet">
              {{ planet }}
            </md-option>
          </md-select>
        </td>
      </tr>
      <tr>
        <td>
          <img md-card-md-image src="/assets/planets/{{identityService.identity.planet}}.png">
        </td>
      </tr>
      <tr>
        <td>
          <md-select placeholder="Spaceship" [(ngModel)]="identityService.identity.spaceship">
            <md-option *ngFor="let ship of shipAvailable" [value]="ship">
              {{ ship }}
            </md-option>
          </md-select>
        </td>
      </tr>
      <tr>
        <td>
          <img md-card-md-image src="/assets/games/imgs/ship/big/{{identityService.identity.spaceship}}.png">
        </td>
    </table>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center">
    <button md-button (click)="save()">Save</button>
  </md-card-actions>
</md-card>