<div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="space-around stretch" >

    <md-card>
      <md-card-title-group>
        <img md-card-md-image src="assets/wing.png">
        <md-card-title>Episode 1</md-card-title>
        <md-card-subtitle>Vagrant and CoreOs</md-card-subtitle>
      </md-card-title-group>
      <md-card-content>
        Hi ! I'm junior and would like create  my new base of commands.
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <button md-button routerLink="/episode1" routerLinkActive="active">Show</button>
        <button md-button routerLink="/slides/episode1" routerLinkActive="active">Slides</button>
      </md-card-actions>
    </md-card>
    <md-card>
      <md-card-title-group>
        <img md-card-md-image src="assets/wicket.png">
        <md-card-title>Episode 2</md-card-title>
        <md-card-subtitle>Docker</md-card-subtitle>
      </md-card-title-group>
      <md-card-content>
        Créons et déployon notre vaisseau !
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <button md-button routerLink="/episode2" routerLinkActive="active">Show</button>
        <button md-button routerLink="/slides/episode2" routerLinkActive="active">Slides</button>
      </md-card-actions>
    </md-card>
    <md-card>
      <md-card-title-group>
        <img md-card-md-image src="assets/bobaFett.png">
        <md-card-title>Episode 3</md-card-title>
        <md-card-subtitle>Fleet</md-card-subtitle>
      </md-card-title-group>
      <md-card-content>
        I'd like spacecraft fleet !
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <button md-button routerLink="/episode3" routerLinkActive="active">Show</button>
        <button md-button routerLink="/slides/episode3" routerLinkActive="active">Slides</button>
      </md-card-actions>
    </md-card>
    <md-card>
      <md-card-title-group>
        <img md-card-md-image src="assets/moff.png">
        <md-card-title>Episode 4</md-card-title>
        <md-card-subtitle>Limites</md-card-subtitle>
      </md-card-title-group>
      <md-card-content>
        Quels sont les limites actuelles de notre système.
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <button md-button routerLink="/slides/episode4" routerLinkActive="active">Slides</button>
      </md-card-actions>
    </md-card>
    <md-card>
      <md-card-title-group>
        <img md-card-md-image src="assets/darthMaul.png">
        <md-card-title>Episode 5</md-card-title>
        <md-card-subtitle>Install Kubernetes</md-card-subtitle>
      </md-card-title-group>
      <md-card-content>
        I love Kubernetes !
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <button md-button routerLink="/episode5" routerLinkActive="active">Show</button>
        <button md-button routerLink="/slides/episode5" routerLinkActive="active">Slides</button>
      </md-card-actions>
    </md-card>

    <md-card>
      <md-card-title-group>
        <img md-card-md-image src="assets/darthVader.png">
        <md-card-title>Episode 6</md-card-title>
        <md-card-subtitle>Play with Kubernetes</md-card-subtitle>
      </md-card-title-group>
      <md-card-content>
        Always use kubernetes !
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <button md-button routerLink="/episode6" routerLinkActive="active">Show</button>
        <button md-button routerLink="/slides/episode6" routerLinkActive="active">Slides</button>
      </md-card-actions>
    </md-card>

    <md-card>
      <md-card-title-group>
        <img md-card-md-image src="assets/generalGrievous.png">
        <md-card-title>Episode 7</md-card-title>
        <md-card-subtitle>Ansible</md-card-subtitle>
      </md-card-title-group>
      <md-card-content>
        Let's kill them all to dominate
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <button md-button routerLink="/episode7" routerLinkActive="active">Show</button>
        <button md-button routerLink="/slides/episode7" routerLinkActive="active">Slides</button>
      </md-card-actions>
    </md-card>

    <md-card>
      <md-card-title-group>
        <img md-card-md-image src="assets/imperator.png">
        <md-card-title>Episode 8</md-card-title>
        <md-card-subtitle>Star is death</md-card-subtitle>
      </md-card-title-group>
      <md-card-content>
        Conclusion
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <button md-button routerLink="/episode8" routerLinkActive="active">Show</button>
      </md-card-actions>
    </md-card>
</div>
