<div fxLayout="row" fxLayoutAlign="space-around center">
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <md-card>
      <md-card-title-group>
        <img md-card-lg-image src="assets/wing.png">
        <md-card-title>Episode 1</md-card-title>
        <md-card-subtitle>Vagrant and CoreOs</md-card-subtitle>
      </md-card-title-group>
      <md-card-content>
        Hi ! I'm newbie and would like create  my new base of commands.
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <button md-button routerLink="/episode1" routerLinkActive="active">Show</button>
      </md-card-actions>
    </md-card>
    <md-card>
      <md-card-title-group>
        <img md-card-lg-image src="assets/wicket.png">
        <md-card-title>Episode 2</md-card-title>
        <md-card-subtitle>Docker</md-card-subtitle>
      </md-card-title-group>
      <md-card-content>
        Créons et déployon notre vaisseau !
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <button md-button routerLink="/episode2" routerLinkActive="active">Show</button>
        <button md-button>Links</button>
      </md-card-actions>
    </md-card>
    <md-card>
      <md-card-title-group>
        <img md-card-lg-image src="assets/bobaFett.png">
        <md-card-title>Episode 3</md-card-title>
        <md-card-subtitle>Fleet</md-card-subtitle>
      </md-card-title-group>
      <md-card-content>
        Un vaisseau c'est bien, 10 c'est mieux :)
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <button md-button routerLink="/episode3" routerLinkActive="active">Show</button>
        <button md-button>Links</button>
      </md-card-actions>
    </md-card>
    <md-card>
      <md-card-title-group>
        <img md-card-lg-image src="assets/moff.png">
        <md-card-title>Episode 4</md-card-title>
        <md-card-subtitle>Limites</md-card-subtitle>
      </md-card-title-group>
      <md-card-content>
        Quels sont les limites actuelles de notre système.
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <button md-button routerLink="/episode4" routerLinkActive="active">Show</button>
        <button md-button>Links</button>
      </md-card-actions>
    </md-card>
  </div>
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <md-card>
      <md-card-title-group>
        <img md-card-lg-image src="assets/darthMaul.png">
        <md-card-title>Episode 5</md-card-title>
        <md-card-subtitle>Vagrant ... le retour </md-card-subtitle>
      </md-card-title-group>
      <md-card-content>
        On recommence tout pour initialiser notre nouveau cluster.
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <button md-button routerLink="/episode5" routerLinkActive="active">Show</button>
        <button md-button>Links</button>
      </md-card-actions>
    </md-card>

    <md-card>
      <md-card-title-group>
        <img md-card-lg-image src="assets/generalGrievous.png">
        <md-card-title>Episode 6</md-card-title>
        <md-card-subtitle>Kubernetes</md-card-subtitle>
      </md-card-title-group>
      <md-card-content>
        Utilisation de Kubernetes
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <button md-button routerLink="/episode6" routerLinkActive="active">Show</button>
        <button md-button>Links</button>
      </md-card-actions>
    </md-card>

    <md-card>
      <md-card-title-group>
        <img md-card-lg-image src="assets/darthVader.png">
        <md-card-title>Episode 7</md-card-title>
        <md-card-subtitle>Elle est morte cette étoile ?</md-card-subtitle>
      </md-card-title-group>
      <md-card-content>
        Utilisation de Kubernetes
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <button md-button routerLink="/episode7" routerLinkActive="active">Show</button>
        <button md-button>Links</button>
      </md-card-actions>
    </md-card>

    <md-card>
      <md-card-title-group>
        <img md-card-lg-image src="assets/imperator.png">
        <md-card-title>Episode 8</md-card-title>
        <md-card-subtitle>Elle est morte cette étoile ?</md-card-subtitle>
      </md-card-title-group>
      <md-card-content>
        Fin
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <button md-button routerLink="/episode8" routerLinkActive="active">Show</button>
        <button md-button>Links</button>
      </md-card-actions>
    </md-card>
  </div>
</div>