<md-card>
  <md-card-content>
    <button color="primary" md-mini-fab routerLink="/rules" routerLinkActive="active">
    <md-icon class="md-24">keyboard_arrow_left</md-icon>
  </button>
    <h2 id="header">Episode 5 : Install Kubernetes</h2>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine1">
      Get certificates
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine1">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code ng-non-bindable="">
        <span class="tag">{{"cp USB/certificates ."}}</span>
      </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine2">
      Create Vagrantfile
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine2">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code ng-non-bindable="">
        <span class="tag">touch Vagrantfile</span>
      </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine3">
      This File content
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine3">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code>
        <span class="pln"></span>      
        <span class="tag">Vagrant.configure("2") do |config|</span>
	      <span class="tag">  config.vm.box = "coreos-alpha"</span>
        <span class="tag">  config.vm.network "private_network", ip: "192.168.33.11"</span>
        <span class="tag">  for i in 30000..32767</span>
        <span class="tag">    config.vm.network :forwarded_port, guest: i, host: i</span>
        <span class="tag">  end</span>
	      <span class="pln"></span>
        <span class="tag">  config.vm.provision :file, :source => "user-data.yml", :destination => "/tmp/vagrantfile-user-data"</span>
        <span class="tag">  config.vm.provision :shell, :inline => "mv /tmp/vagrantfile-user-data /var/lib/coreos-vagrant/", :privileged => true</span>
        <span class="pln"></span>
        <span class="tag">  config.vm.provision :file, source: "./certificats", destination: "/tmp/ssl"</span>
        <span class="pln"></span>
		    <span class="tag">  config.vm.provision :shell, :inline => "mkdir -p /etc/kubernetes ;mv /tmp/ssl /etc/kubernetes/ssl", :privileged => true</span>
	      <span class="tag">  config.vm.provision :shell, :inline => "chmod 600 /etc/kubernetes/ssl/*-key.pem", :privileged => true</span>
	      <span class="tag">  config.vm.provision :shell, :inline => "chown -R root:root /etc/kubernetes/ssl", :privileged => true</span>
	      <span class="tag">  config.vm.provision :shell, :inline => "cd /etc/kubernetes/ssl/; ln -s #PLANET_NAME-worker.pem worker.pem", :privileged => true</span>
	      <span class="tag">  config.vm.provision :shell, :inline => "cd /etc/kubernetes/ssl/; ln -s #PLANET_NAME-worker-key.pem worker-key.pem", :privileged => true</span>
        <span class="tag">end</span>
        <span class="pln"></span>
      </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine3">
      Create user-data file
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine3">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code ng-non-bindable="">
        <span class="tag">touch user-data.yml</span>
      </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine4">
      This file content :
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine4">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code ng-non-bindable="">       
        <span class="tag">#cloud-config</span> 
        <span class="tag">hostname: "tatoone"</span> 
        <span class="pln"></span>
        <span class="tag">write_files:</span> 
        <span class="tag">  - path: "/etc/flannel/options.env"</span> 
        <span class="tag">    permissions: "0644"</span> 
        <span class="tag">    owner: "root"</span> 
        <span class="tag">    content: |</span> 
        <span class="tag">      FLANNELD_IFACE=$public_ipv4</span> 
        <span class="tag">      FLANNELD_ETCD_ENDPOINTS=#ETCD_URL</span> 
        <span class="tag">  - path: "/etc/kubernetes/cni/docker_opts_cni.env"</span> 
        <span class="tag">    permissions: "0644"</span> 
        <span class="tag">    owner: "root"</span> 
        <span class="tag">    content: |</span> 
        <span class="tag">      DOCKER_OPT_BIP=""</span> 
        <span class="tag">      DOCKER_OPT_IPMASQ=""    </span> 
        <span class="tag">  - path: "/etc/kubernetes/cni/net.d/10-flannel.conf"</span> 
        <span class="tag">    permissions: "0644"</span> 
        <span class="tag">    owner: "root"</span> 
        <span class="tag">    content: |</span> 
        <span class="tag">{{"      {"}}</span> 
        <span class="tag">          "name": "podnet",</span> 
        <span class="tag">          "type": "flannel",</span> 
        <span class="tag">          "delegate": {{"{"}}</span> 
        <span class="tag">              "isDefaultGateway": true</span> 
        <span class="tag">{{"          }"}}</span> 
        <span class="tag">{{"     }"}}</span> 
        <span class="tag">  - path: "/etc/systemd/system/kubelet.service"</span> 
        <span class="tag">    permissions: "0644"</span> 
        <span class="tag">    owner: "root"</span> 
        <span class="tag">    content: |</span> 
        <span class="tag">      [Service]</span> 
        <span class="tag">      Environment=KUBELET_VERSION=v1.5.1_coreos.0</span> 
        <span class="tag">      Environment="RKT_OPTS=--uuid-file-save=/var/run/kubelet-pod.uuid \</span> 
        <span class="tag">        --volume dns,kind=host,source=/etc/resolv.conf \</span> 
        <span class="tag">        --mount volume=dns,target=/etc/resolv.conf \</span> 
        <span class="tag">        --volume var-log,kind=host,source=/var/log \</span> 
        <span class="tag">        --mount volume=var-log,target=/var/log"</span> 
        <span class="tag">      ExecStartPre=/usr/bin/mkdir -p /etc/kubernetes/manifests</span> 
        <span class="tag">      ExecStartPre=/usr/bin/mkdir -p /var/log/containers</span> 
        <span class="tag">      ExecStartPre=-/usr/bin/rkt rm --uuid-file=/var/run/kubelet-pod.uuid</span> 
        <span class="tag">      ExecStart=/usr/lib/coreos/kubelet-wrapper \</span> 
        <span class="tag">        --api-servers=#MASTER_URL \</span> 
        <span class="tag">        --cni-conf-dir=/etc/kubernetes/cni/net.d \</span> 
        <span class="tag">        --network-plugin=cni \</span> 
        <span class="tag">        --container-runtime=docker \</span> 
        <span class="tag">        --register-node=true \</span> 
        <span class="tag">        --allow-privileged=true \</span> 
        <span class="tag">        --pod-manifest-path=/etc/kubernetes/manifests \</span> 
        <span class="tag">        --hostname-override=$public_ipv4 \</span> 
        <span class="tag">        --cluster_dns=10.3.0.10 \</span> 
        <span class="tag">        --cluster_domain=cluster.local \</span> 
        <span class="tag">        --kubeconfig=/etc/kubernetes/worker-kubeconfig.yaml \</span> 
        <span class="tag">        --tls-cert-file=/etc/kubernetes/ssl/worker.pem \</span> 
        <span class="tag">        --tls-private-key-file=/etc/kubernetes/ssl/worker-key.pem</span> 
        <span class="tag">      ExecStop=-/usr/bin/rkt stop --uuid-file=/var/run/kubelet-pod.uuid</span> 
        <span class="tag">      Restart=always</span> 
        <span class="tag">      RestartSec=10</span> 
        <span class="pln"></span>
        <span class="tag">      [Install]</span> 
        <span class="tag">      WantedBy=multi-user.target</span> 
        <span class="tag">  - path: "/etc/kubernetes/manifests/kube-proxy.yaml"</span> 
        <span class="tag">    permissions: "0644"</span> 
        <span class="tag">    owner: "root"</span> 
        <span class="tag">    content: |</span> 
        <span class="tag">      apiVersion: v1</span> 
        <span class="tag">      kind: Pod</span> 
        <span class="tag">      metadata:</span> 
        <span class="tag">        name: kube-proxy</span> 
        <span class="tag">        namespace: kube-system</span> 
        <span class="tag">      spec:</span> 
        <span class="tag">        hostNetwork: true</span> 
        <span class="tag">        containers:</span> 
        <span class="tag">        - name: kube-proxy</span> 
        <span class="tag">          image: quay.io/coreos/hyperkube:v1.5.1_coreos.0</span> 
        <span class="tag">          command:</span> 
        <span class="tag">          - /hyperkube</span> 
        <span class="tag">          - proxy</span> 
        <span class="tag">          - --master=#MASTER_URL</span> 
        <span class="tag">          - --kubeconfig=/etc/kubernetes/worker-kubeconfig.yaml</span> 
        <span class="tag">          securityContext:</span> 
        <span class="tag">            privileged: true</span> 
        <span class="tag">          volumeMounts:</span> 
        <span class="tag">          - mountPath: /etc/ssl/certs</span> 
        <span class="tag">            name: "ssl-certs"</span> 
        <span class="tag">          - mountPath: /etc/kubernetes/worker-kubeconfig.yaml</span> 
        <span class="tag">            name: "kubeconfig"</span> 
        <span class="tag">            readOnly: true</span> 
        <span class="tag">          - mountPath: /etc/kubernetes/ssl</span> 
        <span class="tag">            name: "etc-kube-ssl"</span> 
        <span class="tag">            readOnly: true</span> 
        <span class="tag">        volumes:</span> 
        <span class="tag">        - name: "ssl-certs"</span> 
        <span class="tag">          hostPath:</span> 
        <span class="tag">            path: "/usr/share/ca-certificates"</span> 
        <span class="tag">        - name: "kubeconfig"</span> 
        <span class="tag">          hostPath:</span> 
        <span class="tag">            path: "/etc/kubernetes/worker-kubeconfig.yaml"</span> 
        <span class="tag">        - name: "etc-kube-ssl"</span> 
        <span class="tag">          hostPath:</span> 
        <span class="tag">            path: "/etc/kubernetes/ssl"                   </span> 
        <span class="tag">  - path: "/etc/kubernetes/worker-kubeconfig.yaml"</span> 
        <span class="tag">    permissions: "0644"</span> 
        <span class="tag">    owner: "root"</span> 
        <span class="tag">    content: |</span> 
        <span class="tag">      apiVersion: v1</span> 
        <span class="tag">      kind: Config</span> 
        <span class="tag">      clusters:</span> 
        <span class="tag">      - name: local</span> 
        <span class="tag">        cluster:</span> 
        <span class="tag">          certificate-authority: /etc/kubernetes/ssl/ca.pem</span> 
        <span class="tag">      users:</span> 
        <span class="tag">      - name: kubelet</span> 
        <span class="tag">        user:</span> 
        <span class="tag">          client-certificate: /etc/kubernetes/ssl/worker.pem</span> 
        <span class="tag">          client-key: /etc/kubernetes/ssl/worker-key.pem</span> 
        <span class="tag">      contexts:</span> 
        <span class="tag">      - context:</span> 
        <span class="tag">          cluster: local</span> 
        <span class="tag">          user: kubelet</span> 
        <span class="tag">        name: kubelet-context</span> 
        <span class="tag">      current-context: kubelet-context    </span> 
        <span class="pln"></span>  
        <span class="tag">coreos:</span> 
        <span class="tag">    units:</span> 
        <span class="tag">      - name: etcd2.service</span> 
        <span class="tag">        command: start</span> 
        <span class="tag">      - name: flanneld.service</span> 
        <span class="tag">        drop-ins:</span> 
        <span class="tag">          - name: 40-ExecStartPre-symlink.conf</span> 
        <span class="tag">            content: |</span> 
        <span class="tag">              [Service]</span> 
        <span class="tag">              ExecStartPre=/usr/bin/ln -sf /etc/flannel/options.env /run/flannel/options.env</span> 
        <span class="tag">        command: start        </span> 
        <span class="tag">      - name: docker.service</span> 
        <span class="tag">        drop-ins:</span> 
        <span class="tag">          - name: 40-flannel.conf</span> 
        <span class="tag">            content: |</span> 
        <span class="tag">              [Unit]</span> 
        <span class="tag">              Requires=flanneld.service</span> 
        <span class="tag">              After=flanneld.service</span> 
        <span class="tag">              [Service]</span> 
        <span class="tag">              EnvironmentFile=/etc/kubernetes/cni/docker_opts_cni.env</span> 
        <span class="tag">        command: start</span>  
      </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine14">
      Change WORKER NAME and IP in createWorkerCertificats.sh
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine14">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code ng-non-bindable="">
        <span class="tag">WORKER_IP=#WORKER_IP</span>
        <span class="tag">WORKER_FQDN=#PLANET_NAME</span>
      </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine15">
      Generate certificates
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine15">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code ng-non-bindable="">
        <span class="tag">./certificates/createWorkerCertificats.sh</span>
      </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine6">
      Start your box
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine6">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code ng-non-bindable="">
        <span class="tag">vagrant up</span>
      </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine7">
      Connect to your box
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine7">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code ng-non-bindable="">
        <span class="tag">vagrant ssh</span>
      </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine8">
      Start Flannel
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine8">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code ng-non-bindable="">
        <span class="tag">sudo systemctl start flanneld</span>
      </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine9">
      Start Kubernetes
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine9">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
        <code ng-non-bindable="">
          <span class="tag">sudo systemctl start kubelet</span>
        </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine10">
      Check if Kubernetes worker is great
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine10">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code ng-non-bindable="">
        <span class="tag">journalctl -xf -u kubelet</span>
      </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine20">
      Exit box
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine20">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code ng-non-bindable="">
        <span class="tag">exit</span>
      </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine11">
      Get kubectl script
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine11">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code ng-non-bindable="">
        <span class="tag">for linux : curl -O https://storage.googleapis.com/kubernetes-release/release/v1.5.2/bin/linux/amd64/kubectl</span>
        <span class="tag">for macos : curl -O https://storage.googleapis.com/kubernetes-release/release/v1.5.2/bin/darwin/amd64/kubectl</span>
      </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine12">
      Configure kubectl
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine12">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code ng-non-bindable="">
        <span class="tag"></span>
        <span class="tag">export MASTER_HOST=MASTER_HOST:MASTER_PORT</span>
        <span class="tag">export CA_CERT=CERTIFICATS_PATH/ca.pem</span>
        <span class="tag">export ADMIN_KEY=CERTIFICATS_PATH/admin-key.pem</span>
        <span class="tag">export ADMIN_CERT=CERTIFICATS_PATH/admin.pem</span>
        <span class="tag"></span>
        <span class="tag">{{"./kubectl config set-cluster default-cluster --server=https://${MASTER_HOST} --certificate-authority=${CA_CERT}"}}</span>
        <span class="tag">{{"./kubectl config set-credentials default-admin --certificate-authority=${CA_CERT} --client-key=${ADMIN_KEY} --client-certificate=${ADMIN_CERT}"}}</span>
        <span class="tag">{{"./kubectl config set-context default-system --cluster=default-cluster --user=default-admin"}}</span>
        <span class="tag">{{"./kubectl config use-context default-system"}}</span>
      </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine13">
      Check if kubectl is great
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine13">
    <pre class="prettyprint prettyprinted lang-yaml">
     ./kubectl get nodes
    </pre>
  </md-card-content>
</md-card>