<md-card>
  <md-card-content>
    <button color="primary" md-mini-fab routerLink="/rules" routerLinkActive="active">
    <md-icon class="md-24">keyboard_arrow_left</md-icon>
  </button>
    <h2 id="header"> Episode 3 : Fleet</h2>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine1">
      Create user-data's file
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine1">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code ng-non-bindable="">
        <span class="tag">touch user-data.yaml</span>
      </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine2">
      Contents of this file
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine2">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code ng-non-bindable="">
        <span class="tag">#cloud-config</span>
        <span class="tag">hostname: "naboo"</span>
        <span class="tag">users:</span>
        <span class="tag">  - name: "jarjar"</span>
        <span class="tag">    passwd: "$1$o4wTm.HT$TyzV9aftAuUrQ9snvV5cA."</span>
        <span class="tag">    groups:</span>
        <span class="tag">      - "sudo"</span>
        <span class="tag">      - "docker"</span>
      </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine3">
      Load user-data with VagrantFile
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine3">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code>
        <span class="tag" >{{"$forwarded_ports={80=>8080}"}}</span>
        <span class="pln"></span>
        <span class="tag">Vagrant.configure("2") do |config|</span>
        <span class="pln"></span>
        <span class="tag">  config.vm.box = "coreos-alpha"</span>
        <span class="pln"></span>
        <span class="tag">  config.vm.network "private_network", ip: "192.168.33.10"</span>
        <span class="pln"></span>
        <span class="tag">  $forwarded_ports.each do |guest, host|</span>
        <span class="pln"></span>
        <span class="tag">    config.vm.network "forwarded_port", guest: guest, host: host, auto_correct: true</span>
        <span class="pln"></span>    
        <span class="tag">  end</span>
        <span class="tag">  config.vm.provision :file, :source => "user-data.yml", :destination => "/tmp/vagrantfile-user-data"</span>
        <span class="pln"></span>
        <span class="tag">  config.vm.provision :shell, :inline => "mv /tmp/vagrantfile-user-data /var/lib/coreos-vagrant/", :privileged => true</span>
        <span class="pln"></span>
        <span class="tag">end</span>
        <span class="pln"></span>
      </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine4">
      Start your box
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine4">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code ng-non-bindable="">
        <span class="tag">vagrant up</span>
      </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine5">
      Connect to your box
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine5">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code ng-non-bindable="">
        <span class="tag">user : jarjar</span>
        <span class="tag">pass : binks</span>
      </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine6">
      Verify service status
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine6">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code ng-non-bindable="">
        <span class="tag">systemctl status fleet</span>
        <span class="tag">systemctl status etcd2</span>
      </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine7">
      Change User data
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine7">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
        <code ng-non-bindable="">
          <span class="tag">#cloud-config</span>
          <span class="tag">hostname: "naboo"</span>
          <span class="tag">users:</span>
          <span class="tag">  - name: "jarjar"</span>
          <span class="tag">    passwd: "$1$o4wTm.HT$TyzV9aftAuUrQ9snvV5cA."</span>
          <span class="tag">    groups:</span>
          <span class="tag">      - "sudo"</span>
          <span class="tag">      - "docker"</span>
          <span class="tag">coreos:</span>
          <span class="tag">  fleet:</span>
          <span class="tag">{{"    etcd_servers:\"http\:\/\/IP_MASTER\:4001\""}}</span>
          <span class="tag">    metadata: "hostname=naboo"</span>
          <span class="tag">    public-ip: $public_ipv4    </span>
          <span class="tag">  etcd2:</span>
          <span class="tag">    name: "naboo"</span>
          <span class="tag">    initial-cluster-token: starwars</span>
          <span class="tag">  units:</span>
          <span class="tag">    - name: fleet.service</span>
          <span class="tag">      command: start</span>
          <span class="tag">    - name: etcd2.service</span>
          <span class="tag">      command: start</span>
        </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine8">
      Change Vagrantfile
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine8">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code ng-non-bindable="">
        <span class="tag">{{"$forwarded_ports={80=>8080,2380=>2380,4001=>4001,7001=>7001,2379=>2379}"}}</span>
      </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine9">
      Destroy your box
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine9">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code ng-non-bindable="">
        <span class="tag">vagrant destroy</span>
      </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine10">
      Start your box
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine10">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code ng-non-bindable="">
        <span class="tag">vagrant up</span>
      </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine11">
      Verify Status
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine11">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code ng-non-bindable="">
        <span class="tag">systemctl status fleet</span>
        <span class="tag">systemctl status etcd2</span>
      </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine12">
      Create your fleet service
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine12">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code ng-non-bindable="">
        <span class="tag">touch luke.service</span>
      </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine13">
      This file content:
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine13">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code ng-non-bindable="">
        <span class="tag">[Unit]</span>
        <span class="tag">Description=My Trooper</span>
        <span class="tag">After=docker.service</span>
        <span class="tag">Requires=docker.service</span>
        <span class="pln"></span>
        <span class="tag">[Service]</span>
        <span class="tag">ExecStartPre=-/usr/bin/docker kill luke</span>
        <span class="tag">ExecStartPre=-/usr/bin/docker rm luke</span>
        <span class="tag">ExecStartPre=/usr/bin/docker pull nginx</span>
        <span class="tag">ExecStart=/usr/bin/docker run --name luke -p 0.0.0.0:80:80 nginx</span>
        <span class="tag">ExecStop=/usr/bin/docker stop luke</span>
      </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine14">
      Start your service
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine14">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code ng-non-bindable="">
        <span class="tag">fleetctl start luke.service</span>
      </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine15">
      Create your fleet discovery service
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine15">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code ng-non-bindable="">
        <span class="tag">touch xwing.service</span>
      </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine16">
      This file content:
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine16">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code ng-non-bindable="">
        <span class="tag">[Unit]</span>
        <span class="tag">Description=Go To your ship !</span>
        <span class="tag">BindsTo=luke.service</span>
        <span class="tag">After=luke.service</span>
        <span class="pln"></span>
        <span class="tag">[Service]</span>
        <span class="tag">{{"ExecStart=/bin/sh -c \"while true; do etcdctl set /conquerirlemonde/ship/xwing \'{ \"host\": \"%H\", \"port\": 80, \"version\": \"52c7248a14\" }\' --ttl 60;sleep 45;done"}}"</span>
        <span class="tag">ExecStop=/usr/bin/etcdctl rm /conquerirlemonde/ship/xwing</span>
        <span class="pln"></span>
        <span class="tag">[X-Fleet]</span>
        <span class="tag">MachineOf=luke.service</span>
      </code>
    </pre>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-slide-toggle color="primary" [(ngModel)]="displayLine17">
      Start your service
    </md-slide-toggle>
  </md-card-header>
  <md-card-content *ngIf="displayLine17">
    <pre class="ng-scope undefined lang-bsh prettyprinted">
      <code ng-non-bindable="">
        <span class="tag">fleetctl start xwing.service</span>
      </code>
    </pre>
  </md-card-content>
</md-card>