<md-card>
  <md-card-content>
    <button color="primary" md-mini-fab routerLink="/rules" routerLinkActive="active">
    <md-icon class="md-24">keyboard_arrow_left</md-icon>
  </button>
    <h2 id="header"> Episode 3 : Fleet</h2>
  </md-card-content>
</md-card>

<div fxLayout="row" fxLayoutAlign="space-around center">
  <md-card>
    <md-card-header>
      <md-card-title>What do you use ?</md-card-title>
    </md-card-header>
    <md-card-content>
      <md-radio-group [(ngModel)]="chosenOption">
        <md-radio-button *ngFor="let option of options" [value]="option">
          {{option}}
        </md-radio-button>
      </md-radio-group>
    </md-card-content>
  </md-card>
</div>

<div [ngSwitch]="chosenOption">
  <div *ngSwitchCase="'Vagrant'">
    <md-card>
      <md-card-header>
        <md-slide-toggle color="primary" [(ngModel)]="displayLine4">
          Destroy your box
        </md-slide-toggle>
      </md-card-header>
      <md-card-content *ngIf="displayLine4">
        <pre class="ng-scope undefined lang-bsh prettyprinted">
          <code ng-non-bindable="">
            <span class="tag">vagrant destroy</span>
          </code>
        </pre>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-header>
        <md-slide-toggle color="primary" [(ngModel)]="displayLine1">
          Create user-data's file
        </md-slide-toggle>
      </md-card-header>
      <md-card-content *ngIf="displayLine1">
        <pre class="ng-scope undefined lang-bsh prettyprinted">
          <code ng-non-bindable="">
            <span class="tag">touch user-data.yml</span>
          </code>
        </pre>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-header>
        <md-slide-toggle color="primary" [(ngModel)]="displayLine2">
          Contents of this file
        </md-slide-toggle>
      </md-card-header>
      <md-card-content *ngIf="displayLine2">
        <pre class="ng-scope undefined lang-bsh prettyprinted">
          <textarea rows="25">
#cloud-config
hostname: "{{this.identityService.identity.planet}}"
users:
  - name: "jarjar"
    passwd: "$1$o4wTm.HT$TyzV9aftAuUrQ9snvV5cA."
    groups:
      - "sudo"
      - "docker"
coreos:
  fleet:
    etcd_servers: "http://{{this.identityService.identity.etcdServer}}:4001"
    metadata: "hostname={{this.identityService.identity.planet}}"
    public-ip: $public_ipv4
  etcd2:
    name: "{{this.identityService.identity.planet}}"
    initial-cluster-token: starwars
  units:
    - name: fleet.service
      command: start
    - name: etcd2.service
      command: start
    </textarea>
        </pre>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-header>
        <md-slide-toggle color="primary" [(ngModel)]="displayLine71">
          Validate user-data
        </md-slide-toggle>
      </md-card-header>
      <md-card-content *ngIf="displayLine71">
        <pre class="ng-scope undefined lang-bsh prettyprinted">
          <code ng-non-bindable="">
            <span class="tag">Go to https://coreos.com/validate/ and copy your file</span>
          </code>
        </pre>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-header>
        <md-slide-toggle color="primary" [(ngModel)]="displayLine3">
          Load user-data with VagrantFile
        </md-slide-toggle>
      </md-card-header>
      <md-card-content *ngIf="displayLine3">
        <pre class="ng-scope undefined lang-bsh prettyprinted">
          <code>
            <span class="tag">{{"$forwarded_ports={80=>8080,2380=>2380,4001=>4001,7001=>7001,2379=>2379}"}}</span>
            <span class="pln"></span>
            <span class="tag">Vagrant.configure("2") do |config|</span>
            <span class="pln"></span>
            <span class="tag">  config.vm.box = "coreos-alpha"</span>
            <span class="pln"></span>
            <span class="tag">  config.vm.network "private_network", ip: "192.168.33.10"</span>
            <span class="pln"></span>
            <span class="tag">  $forwarded_ports.each do |guest, host|</span>
            <span class="pln"></span>
            <span class="tag">    config.vm.network "forwarded_port", guest: guest, host: host, auto_correct: true</span>
            <span class="pln"></span>
            <span class="tag">  end</span>
            <span class="tag">  config.vm.provision :file, :source => "user-data.yml", :destination => "/tmp/vagrantfile-user-data"</span>
            <span class="pln"></span>
            <span class="tag">  config.vm.provision :shell, :inline => "mv /tmp/vagrantfile-user-data /var/lib/coreos-vagrant/", :privileged => true</span>
            <span class="pln"></span>
            <span class="tag">end</span>
            <span class="pln"></span>
          </code>
        </pre>
      </md-card-content>
    </md-card>

    <md-card>
      <md-card-header>
        <md-slide-toggle color="primary" [(ngModel)]="displayLine41">
          Start your box
        </md-slide-toggle>
      </md-card-header>
      <md-card-content *ngIf="displayLine41">
        <pre class="ng-scope undefined lang-bsh prettyprinted">
          <code ng-non-bindable="">
            <span class="tag">vagrant up</span>
          </code>
        </pre>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-header>
        <md-slide-toggle color="primary" [(ngModel)]="displayLine5">
          Connect to your box
        </md-slide-toggle>
      </md-card-header>
      <md-card-content *ngIf="displayLine5">
        <pre class="ng-scope undefined lang-bsh prettyprinted">
          <code ng-non-bindable="">
            <span class="tag">vagrant ssh</span>
            <span class="tag">user : jarjar</span>
            <span class="tag">pass : binks</span>
          </code>
        </pre>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-header>
        <md-slide-toggle color="primary" [(ngModel)]="displayLine6">
          Verify service status
        </md-slide-toggle>
      </md-card-header>
      <md-card-content *ngIf="displayLine6">
        <pre class="ng-scope undefined lang-bsh prettyprinted">
          <code ng-non-bindable="">
            <span class="tag">systemctl status fleet</span>
            <span class="tag">systemctl status etcd2</span>
          </code>
        </pre>
      </md-card-content>
    </md-card>

    <md-card>
      <md-card-header>
        <md-slide-toggle color="primary" [(ngModel)]="displayLine15">
          Create your trooper service
        </md-slide-toggle>
      </md-card-header>
      <md-card-content *ngIf="displayLine15">
        <pre class="ng-scope undefined lang-bsh prettyprinted">
          <code ng-non-bindable="">
            <span class="tag">touch trooper-{{this.identityService.identity.pseudo}}.service</span>
          </code>
        </pre>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-header>
        <md-slide-toggle color="primary" [(ngModel)]="displayLine16">
          This file content:
        </md-slide-toggle>
      </md-card-header>
      <md-card-content *ngIf="displayLine16">
        <pre class="ng-scope undefined lang-bsh prettyprinted">
          <code ng-non-bindable="">
            <span class="tag">[Unit]</span>
            <span class="tag">Description=trooper-{{this.identityService.identity.pseudo}}</span>
            <span class="tag">After=docker.service</span>
            <span class="tag">Requires=docker.service</span>
            <span class="tag"></span>
            <span class="tag">[Service]</span>
            <span class="tag">ExecStartPre=-/usr/bin/docker kill trooper-{{this.identityService.identity.pseudo}}</span>
            <span class="tag">ExecStartPre=-/usr/bin/docker rm trooper-{{this.identityService.identity.pseudo}}</span>
            <span class="tag">ExecStartPre=/usr/bin/docker pull ymatagne/trooper</span>
            <span class="tag">ExecStart=/usr/bin/docker run --name trooper-{{this.identityService.identity.pseudo}} -p 0.0.0.0:80:9000 -e PLANET_HOST={{identityService.identity.gameIp}} -e PLANET_PORT={{identityService.identity.gamePort}} -e TROOPER_NAME={{this.identityService.identity.pseudo}} -e TROOPER_HOST={{identityService.identity.yourIp}} -e TROOPER_PORT=80 -e SPACESHIP={{this.identityService.identity.spaceship}} ymatagne/trooper</span>
            <span class="tag">ExecStop=/usr/bin/docker stop trooper-{{this.identityService.identity.pseudo}}</span>
            <span class="tag"></span>
            <span class="tag">[X-Fleet]</span>
            <span class="tag">MachineMetadata=hostname={{this.identityService.identity.planet}}</span>
          </code>
        </pre>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-header>
        <md-slide-toggle color="primary" [(ngModel)]="displayLine17">
          Start your service
        </md-slide-toggle>
      </md-card-header>
      <md-card-content *ngIf="displayLine17">
        <pre class="ng-scope undefined lang-bsh prettyprinted">
          <code ng-non-bindable="">
            <span class="tag">fleetctl start trooper-{{this.identityService.identity.pseudo}}.service</span>
          </code>
        </pre>
      </md-card-content>
    </md-card>
  </div>


  <div *ngSwitchCase="'Aws'">
    <md-card>
      <md-card-header>
        <md-slide-toggle color="primary" [(ngModel)]="displayLine18">
          Create user-data's file
        </md-slide-toggle>
      </md-card-header>
      <md-card-content *ngIf="displayLine18">
        <pre class="ng-scope undefined lang-bsh prettyprinted">
          <code ng-non-bindable="">
            <span class="tag">touch user-data.yml</span>
          </code>
        </pre>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-header>
        <md-slide-toggle color="primary" [(ngModel)]="displayLine19">
          Change User data
        </md-slide-toggle>
      </md-card-header>
      <md-card-content *ngIf="displayLine19">
        <pre class="ng-scope undefined lang-bsh prettyprinted">
    <textarea rows="25">
#cloud-config
hostname: "{{this.identityService.identity.planet}}"
users:
  - name: "jarjar"
    passwd: "$1$o4wTm.HT$TyzV9aftAuUrQ9snvV5cA."
    groups:
      - "sudo"
      - "docker"
coreos:
  fleet:
    etcd_servers: "http://{{this.identityService.identity.etcdServer}}:4001"
    metadata: "hostname={{this.identityService.identity.planet}}"
    public-ip: $public_ipv4
  etcd2:
    name: "{{this.identityService.identity.planet}}"
    initial-cluster-token: starwars
  units:
    - name: fleet.service
      command: start
    - name: etcd2.service
      command: start
    </textarea>
        </pre>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-header>
        <md-slide-toggle color="primary" [(ngModel)]="displayLine20">
          Start your VM
        </md-slide-toggle>
        <md-card-title></md-card-title>
      </md-card-header>
      <md-card-content *ngIf="displayLine20">
        <pre class="ng-scope undefined lang-bsh prettyprinted">
        <code ng-non-bindable="">
          <span class="tag">response=$(aws ec2 run-instances --image-id ami-1df22072 --count 1 --instance-type t2.medium --security-groups mixit --user-data file://user-data.yml)</span>
        </code>
      </pre>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-header>
        <md-slide-toggle color="primary" [(ngModel)]="displayLine21">
          Get your Instance id
        </md-slide-toggle>
        <md-card-title></md-card-title>
      </md-card-header>
      <md-card-content *ngIf="displayLine21">
        <pre class="ng-scope undefined lang-bsh prettyprinted">
        <code ng-non-bindable="">
          <span class="tag">echo $response | grep InstanceId</span>
        </code>
      </pre>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-header>
        <md-slide-toggle color="primary" [(ngModel)]="displayLine22">
          Get your Public Ip
        </md-slide-toggle>
        <md-card-title></md-card-title>
      </md-card-header>
      <md-card-content *ngIf="displayLine22">
        <pre class="ng-scope undefined lang-bsh prettyprinted">
        <code ng-non-bindable="">
          <span class="tag">aws ec2 describe-instances --instance-ids #YOUR_INSTANCE_ID | grep PublicIpAddress</span>
        </code>
      </pre>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-header>
        <md-slide-toggle color="primary" [(ngModel)]="displayLine23">
          Connect to your VM
        </md-slide-toggle>
      </md-card-header>
      <md-card-content *ngIf="displayLine23">
        <pre class="ng-scope undefined lang-bsh prettyprinted">
        <code ng-non-bindable="">
          <span class="tag">ssh jarjar@{{this.identityService.identity.yourIp}}</span>
        </code>
      </pre>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-header>
        <md-slide-toggle color="primary" [(ngModel)]="displayLine24">
          Create your trooper service
        </md-slide-toggle>
      </md-card-header>
      <md-card-content *ngIf="displayLine24">
        <pre class="ng-scope undefined lang-bsh prettyprinted">
          <code ng-non-bindable="">
            <span class="tag">touch trooper-{{this.identityService.identity.pseudo}}.service</span>
          </code>
        </pre>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-header>
        <md-slide-toggle color="primary" [(ngModel)]="displayLine25">
          This file content:
        </md-slide-toggle>
      </md-card-header>
      <md-card-content *ngIf="displayLine25">
        <pre class="ng-scope undefined lang-bsh prettyprinted">
        <textarea rows="20">

[Unit]
Description=trooper-{{this.identityService.identity.pseudo}}
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker kill trooper-{{this.identityService.identity.pseudo}}
ExecStartPre=-/usr/bin/docker rm trooper-{{this.identityService.identity.pseudo}}
ExecStartPre=/usr/bin/docker pull ymatagne/trooper
ExecStart=/usr/bin/docker run --name trooper-{{this.identityService.identity.pseudo}} -p 0.0.0.0:80:9000 -e PLANET_HOST={{this.identityService.identity.gameIp}} -e PLANET_PORT={{this.identityService.identity.gamePort}} -e TROOPER_NAME={{this.identityService.identity.pseudo}} -e TROOPER_HOST={{this.identityService.identity.yourIp}} -e TROOPER_PORT=80 -e SPACESHIP={{this.identityService.identity.spaceship}} ymatagne/trooper
ExecStop=/usr/bin/docker stop trooper-{{this.identityService.identity.pseudo}}

[X-Fleet]
MachineMetadata=hostname={{this.identityService.identity.planet}}
        </textarea>

        </pre>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-header>
        <md-slide-toggle color="primary" [(ngModel)]="displayLine26">
          Start your service
        </md-slide-toggle>
      </md-card-header>
      <md-card-content *ngIf="displayLine26">
        <pre class="ng-scope undefined lang-bsh prettyprinted">
          <code ng-non-bindable="">
            <span class="tag">sudo fleetctl start trooper-{{this.identityService.identity.pseudo}}.service</span>
          </code>
        </pre>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-header>
        <md-slide-toggle color="primary" [(ngModel)]="displayLine56">
          Exit vm
        </md-slide-toggle>
      </md-card-header>
      <md-card-content *ngIf="displayLine56">
        <pre class="ng-scope undefined lang-bsh prettyprinted">
          <code ng-non-bindable="">
            <span class="tag">exit</span>
          </code>
        </pre>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-header>
        <md-slide-toggle color="primary" [(ngModel)]="displayLine57">
          Going Further and More
        </md-slide-toggle>
      </md-card-header>
      <md-card-content *ngIf="displayLine57">
        <pre class="ng-scope undefined lang-bsh prettyprinted">
          <code ng-non-bindable="">
            <span class="tag">Add Retry to systemd service</span>
            <span class="tag">use fleetctl list-units</span>
            <span class="tag">use fleetctl list-machines</span>
            <span class="tag">use fleetctl cat #YOUR_SERVICE</span>
            <span class="tag">Play with systemd and ExecStart</span>
            <span class="tag">What is "=-" ?</span>
          </code>
        </pre>
      </md-card-content>
    </md-card>
  </div>
</div>