<md-toolbar color="primary">
  <span>Conquerir le monde avec CoreOs</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <span>SnowCamp 2017</span>
</md-toolbar>

<md-tab-group>
  <md-tab>
    <template md-tab-label>
      <md-icon>play_circle_filled</md-icon> Rules
    </template>
    <app-rules></app-rules>
  </md-tab>
  <md-tab>
    <template md-tab-label>
      <md-icon>language</md-icon> Planets
    </template>
    <app-planets></app-planets>
  </md-tab>
  <md-tab>
    <template md-tab-label>
      <md-icon>videogame_asset</md-icon> Games
    </template>
    <app-games></app-games>
  </md-tab>
</md-tab-group>